div.whatsapp {
  height: 100vh;

  div.sidebar {
    float: left;
    height: 100%;
    width: 30%;
    background-color: rgb(219, 219, 219);
    overflow-y: scroll;
    overflow-x: hidden;


    div.topInfo {
      margin-top: 10px;
      width: 100%;

      div.example-form {
        width: 100%;

        mat-form-field {
          width: 100% !important;

          input {
            width: 100% !important;
            text-align: center;
          }
        }

        button {

          width: 100%;
          height: 30px;
          border: none;
          background-color: white;
          margin-bottom: 30px;
          transition: 0.2s;
        }

        button:hover {
          background-color: lightgray;
        }
      }
    }

    div.userList {
      div.singleUser {

        height: 70px;
        margin-left: 2px;
        margin-right: 8px;
        transition: 0.2s;

        div.image {
          height: 49px;
          width: 49px;
          border-radius: 50%;
          float: left;
          margin-right: 14px;

          background-color: #cccccc;
          /* You must set a specified height */
          background-position: center;
          /* Center the image */
          background-repeat: no-repeat;
          /* Do not repeat the image */
          background-size: cover;
          /* Resize the background image to cover the entire container */

        }

        p.message {
          margin-top: 5px;
          float: right;
        }

        h2 {}

        p {
          margin-top: -10px;
        }
      }

      div.singleUser:hover {
        background-color: rgb(182, 182, 182);
        transform: scale(1.02);
      }
    }

    hr {
      margin-top: -3px;
    }
  }

  div.main {
    float: right;
    width: 70%;
    height: 100vh;

    div.top {
      background-color: #84A98C;
      width: 100%;
      height: 8%;


      -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.75);

      z-index: 90;

      div.image {
        margin-top: 4px;
        height: 60px;
        width: 60px;
        background-color: red;
        border-radius: 50%;
        float: left;
        margin-right: 14px;
        margin-left: 5px;

        background-color: #cccccc;
        /* You must set a specified height */
        background-position: center;
        /* Center the image */
        background-repeat: no-repeat;
        /* Do not repeat the image */
        background-size: cover;
        /* Resize the background image to cover the entire container */
      }

      h3 {
        text-align: center;
        margin-top: -15px;
      }

      h2 {
        text-align: center;
        font-weight: bolder;
      }
    }

    div.center {
      z-index: -1;
      overflow-y: scroll;
      overflow-x: hidden;

      width: 100%;
      background-color: lightgoldenrodyellow;
      height: 83%;


      mat-card {

        margin-top: 30px;


        -webkit-box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.75);

        .example-header-image-test {
          background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        }

        width: 50%;
      }

      mat-card.left {
        margin-left: 9px !important;
      }

      mat-card.right {
        margin-left: 46%;
        background-color: lightblue;
      }
    }

    div.bottom {
      background-color: lightgray;
      width: 100%;
      height: 8%;

      textarea {
        margin-top: 1px;
        height: 90%;
        width: 89%;
        float: left;
        resize: none;
        background-color: rgb(247, 247, 247);
        transition: 0.2s;
      }

      textarea:focus {
        transform: scale(1.02);
        font-weight: bold;
      }

      button {
        background-color: #84A98C;
        font-weight: bold;
        font-size: 130%;
        margin-top: 4px;
        height: 90%;
        width: 10%;
        float: right;
      }

      button:hover {
        background-color: #65856c;
      }
    }
  }
}
