<div class="whatsapp">
  <div class="sidebar">
    <div class="topInfo">
      <div class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>ServerIP</mat-label>
          <input [(ngModel)]="serverIP" matInput placeholder="ip" value="">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>UserName</mat-label>
          <input [(ngModel)]="UserName" matInput placeholder="name" value="">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>userImage</mat-label>
          <input [(ngModel)]="Image" matInput placeholder="Image" value="">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input [(ngModel)]="Password" matInput placeholder="password" value="">
        </mat-form-field>

        <button (click)="connect()">
          connect
        </button>
        <button (click)="updateList()">
          UpdateList
        </button>
        <button (click)="imageU()">
          update Image
        </button>
      </div>
      <div class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Group Name</mat-label>
          <input [(ngModel)]="groupName" matInput placeholder="GroupID" value="">
        </mat-form-field>
        <button style="width: 50%;" (click)="addGroup()">
          create group
        </button>
        <button   style="width: 50%;" (click)="joinGroup()">
          join to group
        </button>
      </div>
    </div>
    <div class="userList">
      <div *ngFor="let us of people" >
        <div *ngIf="us.name != chatService.thisUser">
        <div class="singleUser" (click)="selectUser(us.name, true)" >
          <div class="image" style="background-image: url({{us.profileImage}});"> </div>
          <h2>{{us.name}}</h2>
        </div>
        </div>
      </div>
      <hr>
    </div>
    <hr>
    <h3 style="text-align:center">Groups</h3>
    <div class="userList">
      <div style=" background-color: lightgreen;" *ngFor="let me of membership">
        <div class="singleUser" (click)="selectUser(me.room.name, false)">
          <h2 style="text-align: center;">{{me.room.name}}</h2>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="main">
    <div class="top">
      <div class="image" style="background-image: url({{chatService.selectedUser.Image}});" *ngIf="!chatService.isRoom"></div>
      <h2>{{chatService.selectedUser.Name}}</h2>

     <!-- <h3>Last Online: Yesterday</h3> -->
    </div>

    <div class="center">
      <div *ngFor="let currentmsg of chatService.currentMessages">
        <mat-card class="example-card left" *ngIf="currentmsg.senderID != chatService.thisUser">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image-test"  style="background-image: url({{chatService.selectedUser.Image}});" *ngIf="!chatService.isRoom"></div>
            <mat-card-title>{{currentmsg.senderID}}</mat-card-title>
            <mat-card-subtitle>{{currentmsg.date}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{currentmsg.message}}
            </p>
          </mat-card-content>
        </mat-card>

        <mat-card class="example-card right" *ngIf="currentmsg.senderID == chatService.thisUser">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image-test" *ngIf="!chatService.isRoom"></div>
            <mat-card-title>{{currentmsg.senderID}}</mat-card-title>
            <mat-card-subtitle>{{currentmsg.date}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{currentmsg.message}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="bottom">
      <textarea [(ngModel)]="msgText" placeholder="Message ...">
        </textarea>
      <button mat-raised-button color="primary" (click)="send()">Primary</button>
    </div>
  </div>
</div>
